<div>
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', locals: { user: subscription.user } %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription)%>
    <%= button_to "", event_subscription_path(subscription.event, subscription), method: :delete, class: "bi bi-trash2-fill", style: "background: none; border: none;"%>
  <% end%>
</div>